{% extends 'app/base.html' %}
{% load static %}

{% block js %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/style.css' %}">
<link rel="stylesheet" href="{% static 'app/css/cat.css' %}">

{% endblock %}

{% block contenido %}

<div>
   <div class="navbar-main">
      <div class="logo">
          <img src="{% static 'app/image/car.png' %}" alt="logo" height="60px">Autoparts
      </div>
      <div class="acnt">
         <div>
      <a href="#">
         <img src="{% static 'app/image/account.png' %}" alt="" width="30px">
         <span style="color:white;">
           {% if request.session.nombre %}
             {{ request.session.nombre }}
           {% else %}
             Invitado
           {% endif %}
           <a href="{% url 'logout' %}" style="color:white; font-size: 14px; margin-left: 5px;">Cerrar sesión</a>
         </span>
      </a>
   </div>
      </div>
      <div class="lateral-bar">
         <div><a href="{% url 'home' %}"><img src="{% static 'app/image/home.png' %}" alt="" width="30px"></a></div>
         <div><a href="{% url 'shoppingcart' %}"><img src="{% static 'app/image/shoppingcart.png' %}" alt="" width="30px"></a></div>
         <div><a href="{% url 'agregar' %}"><img src="{% static 'app/image/addproduct.png' %}" alt="" width="30px"></a></div>
         <div><a href="{% url 'lista2' %}"><img src="{% static 'app/image/list.png' %}" alt="" width="30px"></a></div>
         <div><a href="{% url 'catalogob2b' %}"><img src="{% static 'app/image/catalogue.png' %}" alt="" width="30px"></a></div>
     </div>
  </div>
</div>

<h1>Catálogo de Productos</h1>
  <div class="catalogo">
    <!-- Tarjeta de producto -->
    <div class="catalogo">
  <div class="product-grid">
    {% for stock in stocks %}
      <div class="product-card">
        {% if stock.producto.imagen %}
          <img src="{{ stock.producto.imagen.url }}" alt="{{ stock.producto.nombre }}" class="product-image">
        {% else %}
          <img src="{% static 'app/image/default-product.jpg' %}" alt="Imagen por defecto" class="product-image">
        {% endif %}

        <div class="product-details">
          <div class="product-name">{{ stock.producto.nombre }}</div>
          <div class="product-price">${{ stock.producto.precio_mayorista }}</div>
          <div>Cantidad: {{ stock.cantidad }}</div>
        </div>

        <div class="product-actions">
          <button class="button add-to-cart" data-product-id="{{ stock.producto.id }}" data-local-id="1">
            Agregar al carrito
          </button>
        </div>
      </div>
    {% empty %}
      <p>No hay stocks disponibles.</p>
    {% endfor %}
  </div>
</div>

{% endblock %}