{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}

{% block contenido %}
<h1>Listado de Sucursales y Stock de Productos</h1>
<h2>agregar nuevo porducto</h2>
{% for local in locales %}
    <h2>{{ local.nombre_local }}</h2>
    <p><strong>Dirección:</strong> {{ local.direccion }}</p>

    <table border="1">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad en Stock</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in local.stocks.all %}
                <tr>
                    <td>
                        {% if stock.producto.imagen %}
                            <img src="{{ stock.producto.imagen.url }}" alt="{{ stock.producto.nombre }}" class="product-image">
                        {% else %}
                            <img src="{% static 'app/image/default-product.jpg' %}" alt="Imagen por defecto" class="product-image">
                        {% endif %}
                    </td>
                    <td>{{ stock.producto.nombre }}</td>
                    <td>${{ stock.producto.precio_minorista }}</td>
                    <td>${{ stock.producto.precio_mayorista }}</td>
                    <td>{{ stock.cantidad }}</td>
                    <td>
                        {% if request.session.tipo_usuario == 5 %}
                        <a href="{% url 'modificar' stock.id %}" class="button edit">Modificar</a>
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">Este local no tiene productos en stock.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

{% endblock %}