{% extends 'app/base.html' %}
{% load static %}

{% block contenido %}


<h1>Listado de Sucursales y Stock de Productos</h1>

{% for local in locales %}
    <h2>{{ local.nombre_local }}</h2>
    <p><strong>Dirección:</strong> {{ local.direccion }}</p>
    
    {% if local.stocks.all %}
        <table border="1" cellpadding="5">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Familia</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Cantidad en stock</th>
                    <th>Acciones</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in local.stocks.all %}
                <tr>
                    <td>{{ stock.producto.nombre }}</td>
                    <td>{{ stock.producto.familia.nombre_familia }}</td>
                    <td>{{ stock.producto.descripcion }}</td>
                    <td>${{ stock.producto.precio }}</td>
                    <td>{{ stock.cantidad }}</td>
                    <td>
                        <a href="{% url 'modificar' stock.producto.id_producto %}">Modificar</a>
                    </td>
                    <td>
                        <a href="{% url 'eliminar_producto' stock.producto.id_producto %}">Eliminar</a>
                    </td>
                    <!--
                    <td>
                        <form action="{% url 'agregar_stock' stock.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit">➕</button>
                        </form>
                        <form action="{% url 'rebajar_stock' stock.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit">➖</button>
                        </form>
                    </td>
                    -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay productos en stock en esta sucursal.</p>
    {% endif %}
    <hr>
{% endfor %}

{% endblock %}