{% extends 'app/base.html' %}
{% load static %}

{% block js %}
{% endblock %}

{% block css %}
{% endblock %}

{% block contenido %}

<div>
    <form action="" method="post" enctype="multipart/form-data" >

        {% csrf_token %}
        {{ form }}
        <div class="justify-content-end">
            <imput type="reset" value="cancelar" class="buttom"> cancelar </imput>
            <imput type="submit" value="Guardar" class="buttom"> Guardar </imput>
        </div>
    </form>
</div>

{% endblock %}