.resumen-compra {
  display: flex;
}

.resumen-compra h3 {
  margin-top: 0;
  font-size: 18px;
}

.resumen-compra p {
  margin: 10px 0;
}

.resumen-compra button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.resumen-compra button:hover {
  background-color: #0056b3;
}
