.body-main{
    background-color: rgb(255, 244, 230);
}


.navbar-main{
    display: flex;
    background-color: rgb(252, 169, 102);
    height: 80px;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    z-index: 5;
}

.logo{
    height: 100%;
    text-align: center;
    align-content: center;
    color: rgba(0, 0, 0, 0.774);
    font-size: 2rem;
    font-family: "Cal Sans", sans-serif;
    font-weight: 700;
    left: 0;
    margin-left: 10px;
}

.navbar-main button {
    width: auto;
    margin-top: 25px;
    border: 1px solid black;
    border-radius: 5px;
}

.acnt img{
    display: flex;
    text-align: center;
    align-content: center;
    height: 100%;
    width: 40px;
    margin-top: 25px;
    margin-right: 50px;
    background-color: rgba(180, 180, 180, 0);
    align-items: center;
}

/* .lateral-bar{
    display: flex;
    margin-top: 80px;
    height: 1000px;
    width: 300px;
    position: fixed;
    flex-direction: column;
    text-decoration: none;
    margin-left: 20px;

} */

.lateral-bar {
    position: fixed;
    top: 80px;
    left: 0;
    width: 80px; /* espacio justo para los íconos */
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    background-color: transparent; /* o un color de fondo si quieres */
}

.lateral-bar div{
    margin-top: 25px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}